/*-----------------------------------*\
#GOOGLE FONTS
\*-----------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*-----------------------------------*\
#VARIABLES
\*-----------------------------------*/

:root {

    /*Colors*/
    --first-color: #DDF247;
    --first-color-alt-1: #b1c239; /*buttons active effects*/
    --first-color-alt-2: #e4f56c; /*buttons hover effects*/
    --second-color: #010101;
    --second-color-alt-1: #1a1a1a; /*buttons hover effects*/
    --grey-color: #F4F4F4;
    --black-color: #000000;
    --white-color: #FFFFFF;

    /*Typography*/
    --body-font-1: 'Rubik', sans-serif; /*instead of Aeonik*/
    --body-font-2: 'Source Code Pro', monospace;
    --body-font-3: 'Inter', sans-serif;
}

/*-----------------------------------*\
#BASE / RESET
\*-----------------------------------*/

*,
    *::before,
    *::after {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    li { list-style: none; }

    a {
        text-decoration: none;
        color: inherit;
    }

    img {
        height: auto;
    }

    input,
    button {
        background: none;
        border: none;
        font: inherit;
    }

    button {
        cursor: pointer;
    }

    html {
        font-size: 62.5%; /*62.5% = 10px = 1rem*/
        scroll-behavior: smooth;
    }
input,
button {
  background: none;
  border: none;
  font: inherit;
  font-family: 'Rubik';
}

button {
  cursor: pointer;
}

    body {
        font-size: 1.6rem;
        background-color: var(--white-color);
        color: var(--black-color);
        overflow-x: hidden;
    }

    /*-----------------------------------*\
    #REUSABLE CLASSES
    \*-----------------------------------*/
html {
  font-size: 62.5%; /*62.5% = 10px = 1rem*/
  scroll-behavior: smooth;
}

/*-----------------------------------*\
  #REUSABLE CLASSES
\*-----------------------------------*/

.container {
    max-width: 144rem;
    padding-inline: 5rem;
}

.btn--base {
  display: flex;
  align-items: center;
  background-color: var(--black-color);
  color: #fff;
  gap: 30px;
  padding: 24.5px 44px 24.5px 29px;
  font-size: 2.1rem;
  border-radius: 2px;
  line-height: 26px;

  transition: background-color ease .2s;
}

.btn--base:hover {
  background-color: #303030;
}


/*-----------------------------------*\
#HEADER + NAV
\*-----------------------------------*/
.header{
    background-color: #fff;
    padding: 20px;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}


.header__nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__image{
    width: 24px;
    height: 24px;
    margin: 0 16px;
}

.logo__title{
    font-family: var(--body-font-1);
    font-size: 2rem;
    font-weight: 700;
}

.header__menu{
    position: fixed;
    top: 5rem;
    right: 0;
    width: 50%;
    height: 17rem;
    flex-direction: column;
    z-index: 3;
    display: none;
    perspective: 400px;
}

.menu__item{
    width: 100%;
    height: 5.4rem;
    animation: flipNavItem 200ms 0s ease forwards;
    transform-origin: top;
}

.menu__item:nth-child(2){
    animation-delay: 100ms;
}
.menu__item:nth-child(3){

    animation-delay: 200ms;
}

.menu__item .menu__links{
    background-color: var(--white-color);
    box-shadow: -2rem 2rem 2rem rgba(0,0,0, 0.2);
    color: var(--black-color);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu__links:hover{
    background: var(--black-color);
    color: var(--white-color);;
}

.header__toggle{
    padding: 1rem 0;
    width: 25px;
    height: 12px;
    box-sizing: content-box;
    cursor: pointer;
    position: relative;
    right: 0;
}

.toggle__line{
    width: 100%;
    height: 2px;
    background-color: var(--black-color);
    position: absolute;
}

.open--menu{
    display: inline-block;
}

.header__toggle .toggle__line:first-child{
    top: 1rem;
    transition: top 0.2s 0.15s, transform 0.3s;
}

.header__toggle .toggle__line:last-child{
    bottom: 1rem;
    transition: bottom 0.2s 0.15s, transform 0.3s;
}

body.open .header__toggle .toggle__line:first-child{
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
    transition: top 0.2s, transform 0.3s 0.1s;
}

body.open .header__toggle .toggle__line:last-child{
    bottom: 50%;
    transform: translateY(50%) rotate(45deg);
    transition: top 0.2s, transform 0.3s 0.1s;
}

@keyframes flipNavItem{
    from{
        transform: rotateX(90deg);
        opacity: 0;
    }

    to{
        transform: rotateX(0deg);
    }
}
/*-----------------------------------*\
#HERO
\*-----------------------------------*/
.hero{
    height: calc(100vh - 15rem);
    margin-top: 150px;
}

.hero__container{
    display: flex;
    flex-direction: column;
}

.hero__title{
    font-family: var(--body-font-1);
    font-size: 4.1rem;
    font-weight: 400;
}

.span__icon{
    display: inline-block;
    text-align: center;
    padding: 5px 0;
    font-size: 19px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--second-color);
    color: var(--white-color);
}

.hero__img__line{
    width: 60px;
    margin-top: 60px;
    margin-bottom: 20px;
}

.hero__desc{
   font-family: var(--body-font-2);
   font-weight: 400;
   line-height: 25px;
}

.hero__btn{
    margin-top: 30px;
}

.hero__right{
    position: relative;
    display: flex;
    background-color: var(--second-color);;
    width: 100%;
    height: 100vh;
    margin-top: 87px;
}

.right__icons{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 16px 13px;
    background-color: var(--grey-color);
    width: 30px;
    height: 153px;
    padding: 10px;
}

.code__content{
    display: inline-block;
    margin-top: 27px;
    font-size: 10px;
    line-height: 15px;
}

.right__icon{
    width: 12px;
    height: 12px;
}

.right__contet{
    position: absolute;
    top: 400px;
    right: 90px;
    display: flex;
    padding: 10px;
    background: var(--white-color);
    border-radius: 6px;
    width: 300px;
    height: 200px;
}

.rigth__img__back{
    position: absolute;
    top: 328px;
    right: 0;
    width: 359px;
    height: 251px;
    z-index: 0;

}

.right_img{
    position: absolute;
    bottom: 0;
    right: 30px;
    width: 280px;
    height: 398px;
    z-index: 5;
}

/*-----------------------------------*\
#FEATURED-IN
\*-----------------------------------*/



/*-----------------------------------*\
#FEATURES
\*-----------------------------------*/



/*-----------------------------------*\
#MOTIVATIONS
\*-----------------------------------*/

/*-----------------------------------*\
#LANGUAGES MINI-SECTION
\*-----------------------------------*/



/*-----------------------------------*\
#GET-UP MINI-SECTION
\*-----------------------------------*/



/*-----------------------------------*\
#PACKAGE
\*-----------------------------------*/



/*-----------------------------------*\
#FAQS
\*-----------------------------------*/



/*-----------------------------------*\
#FOOTER
\*-----------------------------------*/
.c-footer {
    margin-top: 1000px;
    background-color: var(--black-color);
    font-family: 'Rubik';
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer__header {
    display: flex;
    gap: 0 19px;
}

.footer__header-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--first-color);
}

.footer__header-title {
    font-size: 3.4rem;
    color: #fff;
    padding-bottom: 61px;
}

.footer__c-aside {
    background-color: var(--first-color);
    padding: 0 30px;
}


.footer__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    list-style: none;
}

.footer__item {
    font-size: 2rem;
    font-weight: 200;
    padding-bottom: 57px;
}

.footer-line {
    border: 1px solid #a3a3a3;
}


/*-----------------------------------*\
#MEDIA QUERIES
\*-----------------------------------*/

/*reusable classes*/
@media screen and (min-width: 144rem) {
    .container {
        margin-inline: auto;
    }
}

/*header + nav*/


/*hero*/


/*featured-in*/


/*features*/


/*motivations*/

/*languages*/


/*get-up*/


/*package*/


/*faqs*/


/*footer*/

