/*-----------------------------------*\
  #GOOGLE FONTS
\*-----------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*-----------------------------------*\
  #VARIABLES
\*-----------------------------------*/

:root {

    /*Colors*/
    --first-color: #DDF247;
    --first-color-alt-1: #b1c239; /*buttons active effects*/
    --first-color-alt-2: #e4f56c; /*buttons hover effects*/
    --second-color: #010101;
    --second-color-alt-1: #1a1a1a; /*buttons hover effects*/
    --grey-color: #F4F4F4;
    --black-color: #000000;
    --white-color: #FFFFFF;

    /*Typography*/
    --body-font-1: 'Rubik', sans-serif; /*instead of Aeonik*/
    --body-font-2: 'Source Code Pro', monospace;
    --body-font-3: 'Inter', sans-serif;
}

/*-----------------------------------*\
  #BASE / RESET
\*-----------------------------------*/

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li { list-style: none; }

a {
  text-decoration: none;
  color: inherit;
}

img { 
   height: auto;
}

input,
button {
  background: none;
  border: none;
  font: inherit;
  font-family: 'Rubik';
}

button {
  cursor: pointer;
}

.btn--base {
  display: flex;
  align-items: center;
  background-color: var(--black-color);
  color: #fff;
  gap: 30px;
  padding: 24.5px 44px 24.5px 29px;
  font-size: 2.2rem;
  border-radius: 2px;
  line-height: 26px;

  transition: background-color ease .2s;
}

.btn--base:hover {
  background-color: #303030;
}

html {
  font-size: 62.5%; /*62.5% = 10px = 1rem*/
  scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
  background-color: var(--white-color);
  color: var(--black-color);
  overflow-x: hidden;
}

/*-----------------------------------*\
  #REUSABLE CLASSES
\*-----------------------------------*/

.container {
    max-width: 144rem;
    padding-inline: 5rem;
}

/*-----------------------------------*\
  #HEADER + NAV
\*-----------------------------------*/



/*-----------------------------------*\
  #HERO
\*-----------------------------------*/



/*-----------------------------------*\
  #FEATURED-IN
\*-----------------------------------*/



/*-----------------------------------*\
  #FEATURES
\*-----------------------------------*/



/*-----------------------------------*\
  #MOTIVATIONS
\*-----------------------------------*/

    /*-----------------------------------*\
    #LANGUAGES MINI-SECTION
    \*-----------------------------------*/



    /*-----------------------------------*\
    #GET-UP MINI-SECTION
    \*-----------------------------------*/



/*-----------------------------------*\
  #PACKAGE
\*-----------------------------------*/



/*-----------------------------------*\
  #FAQS
\*-----------------------------------*/



/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/
.c-footer {
  background-color: var(--black-color);
  font-family: 'Rubik';
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer__header {
  display: flex;
  gap: 0 19px;
}

.footer__header-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--first-color);
  cursor: pointer;
}
.footer__header-icon:hover {
  background-color: var(--first-color-alt-1);
}

.footer__header-title {
  font-size: 3.4rem;
  color: #fff;
  padding-bottom: 61px;
}

.footer__c-aside {
  background-color: var(--first-color);
  padding: 0 30px;
}


.footer__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  list-style: none;
}

.footer__item p {
  font-size: 2rem;
  font-weight: 200;
  padding-bottom: 57px;
  opacity: 0.5;
}

.footer__social-media {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #a3a3a3;
  font-size: 2.2rem;
  padding: 28px 0px;
  border-top: 1px solid #a3a3a3 ;
  border-bottom: 1px solid #a3a3a3 ;
}

.footer__social-media a i:hover {
  opacity: 0.8;
}

.footer-copyright {
  color: #a3a3a3;
  font-size: 1.5rem;
  font-weight: 200;
  padding: 38px 0 48px 0;
  letter-spacing: 0.25px;

}

.footer__logo {
  color: var(--first-color);
}

.footer__logo:hover {
  color: var(--first-color-alt-1);
}
/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/*reusable classes*/
@media screen and (min-width: 144rem) {
    .container {
        margin-inline: auto;
    }
}

/*header + nav*/


/*hero*/


/*featured-in*/


/*features*/


/*motivations*/

    /*languages*/


    /*get-up*/


/*package*/


/*faqs*/


/*footer*/

